@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";


@theme {
  --breakpoint-xs: 400px;

  --font-satoshi: "Satoshi", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  --color-bg-white: #ffffff;
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #f5f5f5;
  --color-bg-black: #1a1a1a;

  --color-text-primary: #000000;
  --color-text-secondary: #646464;
  --color-text-secondary-alt: #363248;
  --color-text-white: #fafafa;
  --color-text-grey: #5c5c63;

  --color-border: #d1d5db;
  --color-orange: #db4500;
  --color-blue: #0057ff;
}

.hover-transition {
  transition: all 0.3s ease-in-out;
}

@layer components {
  /* .highlight {
    @apply bg-[#f7846d]/20 px-0.5 py-1 rounded-sm  mr-1;
  } */

  .highlight {
    @apply text-blue font-satoshi font-medium;
  }
}
