@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Suisse_Intl_Regular";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Medium";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Bold";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Book";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Book.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Mono";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Mono.ttf") format("truetype");
}

@theme {
  --breakpoint-xs: 400px;

  --font-caveat: "Caveat", cursive;
  --font-metamorphous: "Metamorphous", serif;
  --font-suisse-regular: "Suisse_Intl_Regular";
  --font-suisse-medium: "Suisse_Intl_Medium";
  --font-suisse-bold: "Suisse_Intl_Bold";
  --font-suisse-book: "Suisse_Intl_Book";
  --font-suisse-mono: "Suisse_Intl_Mono";

  --color-bg-white: #ffffff;
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #f5f5f5;
  --color-bg-black: #1a1a1a;

  --color-text-primary: #000000;
  --color-text-secondary: #646464;
  --color-text-white: #fafafa;
  --color-text-grey: #5c5c63;

  --color-border: #d1d5db;
  --color-orange: #db4500;
}

.hover-transition {
  transition: all 0.3s ease-in-out;
}

@layer components {
  .highlight {
    @apply font-suisse-bold;
  }
}
