@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Suisse_Intl_Regular";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Medium";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Mono";
  src: url("./assets/fonts/fonnts.com-Suisse_Intl_Mono.ttf")
    format("truetype");
}

@theme {
  --breakpoint-xs: 400px;
  --font-caveat: "Caveat", cursive;
  --font-metamorphous: "Metamorphous", serif;
  --font-suisse-regular: "Suisse_Intl_Regular";
  --font-suisse-medium: "Suisse_Intl_Medium";
  --font-suisse-mono: "Suisse_Intl_Mono";
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #f5f5f5;
  --color-text-primary: #000000;
  --color-text-secondary: #646464;
  --color-border: #d1d5db;
  --color-orange: #db4500;
}

.hover-transition {
  transition: all 0.2s ease-in-out;
}