@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Suisse_Intl_Regular";
  src: url("/fonts/fonnts.com-Suisse_Intl_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Medium";
  src: url("/fonts/fonnts.com-Suisse_Intl_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Bold";
  src: url("/fonts/fonnts.com-Suisse_Intl_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Book";
  src: url("/fonts/fonnts.com-Suisse_Intl_Book.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Mono";
  src: url("/fonts/fonnts.com-Suisse_Intl_Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Suisse_Intl_Light";
  src: url("/fonts/fonnts.com-SuisseIntl-Light.ttf") format("truetype");
}

@theme {
  --breakpoint-xs: 400px;

  --font-patrick-hand: "Patrick Hand", cursive;
  --font-ibm-plex: "IBM Plex Mono", monospace;
  --font-satoshi: "Satoshi", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-suisse-regular: "Suisse_Intl_Regular";
  --font-suisse-medium: "Suisse_Intl_Medium";
  --font-suisse-bold: "Suisse_Intl_Bold";
  --font-suisse-book: "Suisse_Intl_Book";
  --font-suisse-mono: "Suisse_Intl_Mono";
  --font-suisse-light: "Suisse_Intl_light";

  --color-bg-white: #ffffff;
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #f5f5f5;
  --color-bg-black: #1a1a1a;

  --color-text-primary: #000000;
  --color-text-secondary: #646464;
  --color-text-secondary-alt: #363248;
  --color-text-white: #fafafa;
  --color-text-grey: #5c5c63;

  --color-border: #d1d5db;
  --color-orange: #db4500;
  --color-blue: #0057ff;
}

.hover-transition {
  transition: all 0.3s ease-in-out;
}

@layer components {
  /* .highlight {
    @apply bg-[#f7846d]/20 px-0.5 py-1 rounded-sm  mr-1;
  } */

  .highlight {
    @apply text-blue font-suisse-medium;
  }
}
